
<h1> New Article !!!! </h1>

<%# <% The form_with helper method instantiates a form builder. %> %>
<%# <% In the form_with block we call methods like label and text_field  %> %>
<%# on the form builder to output the appropriate form elements. %>

<%# The full_messages_for method returns an array of user-friendly error messages for a specified attribute.  %>
<%# If there are no errors for that attribute, the array will be empty. %>



<%# <h1>New Article</h1> %>

<%= render 'form' %>


